.login-container{
    display: grid;
    place-items: center;
    height: 100dvh;
}
.login-form{
    display: flex;
    width: 700px;
    border: 2px solid #09a5ee;
    border-radius: 25px;
    /* padding: 20px; */
}
.login-form .left-form{
    width: calc(50% - 60px);
    padding: 30px;
}
.login-form .right-content{
    width: 50%;
    background-color:  #09a5ee;
    border-radius: 0px 20px 20px 0px;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form label{
    font-size: 18px;
}
/* .signup-container form{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
} */
.login-container .login-input{
    height: 20px;
    width: 265px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: gray;
    padding: 10px;
    /* border: none;
    outline: none; */
    margin: 10px 0px 20px 0px;
    font-weight: 500;
    border: 2px solid #09a5ee;
}
.chk-box-prnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.input-chk-box{
    width: 16px;
    height: 16px;
}
.login-btn{
    border: 2px solid #000;
    color: #fff;
    /* padding: 5px 10px; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 273px;
    height: 43px;
    background-color: #000;
}
.or{
    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    /* height: 20px; */
    align-items: center;
    width: 273px;
    justify-content: center;
    text-align: center;
}
.left-or, .right-or{
    border: 1px solid #000;
}
.l-w-g-btn, .l-w-f-btn{
    width: 273px;
    height: 43px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.l-w-g-btn{
    border: 1px solid gray;
    /* background-color: #dff2ff; */
}
.l-w-f-btn{
    margin: 15px 0px;
    border: 1px solid grey;
}
.FcGoogle{
    /* width: 20px;
    height: 20px; */
    font-size: 25px;
    margin-right: 10px;
}
.FaSquareFacebook{
    font-size: 20px;
    color: blue;
    margin-right: 10px;
}
.m-g-f{
    display: none;
    justify-content: center;
}
@media only screen and (0px < width < 768px){
    /* .signup-container {
        display: block;
    } */
    .login-container .left-form{
        width: fit-content;
    }

    .login-container .right-content{
        display: none;
    }
    .login-container .login-form{
        border: none;
        width: fit-content;
        display: block;
    }
    .l-w-g-btn, .l-w-f-btn{
        display: none;
    }
    .login-container .m-g-f{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .m-g-f .FcGoogle, .m-g-f .FaSquareFacebook{
        margin: 0px;
    }
    .m-g-f button{
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid  gray;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
}